/*----------------- CSS RESET ------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: top;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*----------------- CSS RESET ------------------*/

html, body {
	background-color: #f9f9f9;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

body {
	background-repeat: no-repeat;
	background-size: 100%;
}

header {
	background-color: #e04c1f;
	box-shadow: 0 2px 40px 1px #a7a7a7;
	color: #ecf0f1;
	height: 5rem;
}

h1, h3 {
	padding: 4px;
}

h1 {
	font-size: 2rem;
	font-weight: bold;
}

h3 {
	font-size: 1.4rem;
}

a {
	text-decoration: none;
}

input[type="text"], input[type="range"] {
	border: 2px solid #bdc3c7;
	border-radius: 6px;
	margin-left: 0;
	background-color: #FFFFFF;
	width: 30%;
	vertical-align: middle;
}

.action-button {
	background-color: #5CBCE5;
	border: none;
	border-radius: 2px;
	color: #ecf0f1;
	font-size: 1rem;
	font-weight: bold;
	height: 3rem;
	width: 6rem;
	vertical-align: middle;
	margin-bottom: 15px;
}

.action-button:hover {
	cursor: pointer;
}

.sectiontop {
	vertical-align: right;
}
#welcome {
	text-align: center;
	margin: -1% 0 2% 0;
}
#site-title-wrapper {
	display: inline-block;
	height: 5rem;
	width: 15%;
}

#site-icon-wrapper {
	display: inline-block;
	margin-left: 1rem;
	margin-top: -.5rem;
	vertical-align: middle;
	width: 2.5rem;
}

#site-icon-wrapper img {
	display: inline-block;
	max-height: 100%;
	max-width: 100%
}

#site-title {
	display: inline-block;
	font-weight: bold;
	height: 5rem;
	line-height: 5rem;
	margin-left: .1rem;
}

#username {
	margin-right: .7rem;
}

#logout {
	float: right;
	height: inherit;
	line-height: 5rem;
	margin-right: 1rem;
}

#logout-button {
	background-color: #ecf0f1;
	border-bottom-color: #bdc3c7;
	color: #222222;
	height: 2.5rem;
	width: 5rem;
}

#logout-button:hover {
	background-color: #bdc3c7;
}

#content {
	margin-top: 2rem;
	text-align: center;
	width: 100%;
}

.hyem {
	text-align: right;
	height: 100px;
	width: auto;
}

.hyem img {
	width: 70%;
	margin: 10%;
}
.main-container {
	border-radius: 4px;
	display: block;
	min-height: 50vh;
	margin: 10% 0 0 0;
	padding: 1rem;
	text-align: center;
	position: relative;
	width: 100%;
}
