{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class= "sectiontop">
        <form action="logout" id="logout">
          <span id="username">Logged in as {{ name }} </br> </span>
          <input class="action-button" id="logout-button" type="submit" value="Logout">
        </form>
    </div>
    <div class="row">
    </br>
      <h1>Welcome to your Hyemisphere </h1>
      <div class="divider"></div>
      <div class="section">
        <a href="{{ url_for('create_travel', value=name) }}">Add a Trip</a> </br> </br>
        <h3>Travel Plans for {{ name }}:</h3> </br>
        <!-- Display all the current existing order information here -->
        <table class="striped">
          <thead>
            <tr>
              <th data-field="travel-id">Travel ID</th>
              <th data-field="trip_name">Trip Name</th>
              <th data-field="destination">Destination</th>
              <th data-field="name">Traveling with: </th>
            </tr>
          </thead>
<!-- code to display all user -->
          {% for travel in travels %}
          <tr>
            <td> {{travel['travel_id']}} </td>
            <td> {{travel['trip_name']}} </td>
            <td> {{travel['destination']}} </td>
            <td> {{travel['friend']}} </td>
            <td> <a href="{{ url_for('delete_travel', value=travel['travel_id']) }}">Delete Trip</a> </td>
          </tr>
        </tr>
        {% endfor %}
        </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
