{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="row">
      <h1>Welcome to Traveler Central</h1>
      <div class= "section">
        <a href="{{ url_for('create_traveler') }}">Add a Traveler</a>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h3>Traveler Information:</h3>
        <table class="striped">
          <thead>
            <tr>
              <th data-field="name">Name</th>
              <th data-field="email">Email</th>
            </tr>
          </thead>
<!-- code to display all user -->
          {% for traveler in travelers %}
          <tr>
            <td> {{traveler['name']}} </td>
            <td> {{traveler['email']}} </td>
            <td> <a href="{{ url_for('create_travel', value=traveler['name']) }}">Add a Travel Itinerary</a> </td>
        </tr>
        {% endfor %}
        </table>
      </div>
      <div class="section">
        <h3>Travel Plans from Traveler:</h3>
        <!-- Display all the current existing order information here -->
        <table class="striped">
          <thead>
            <tr>
              <th data-field="trip_name">Trip Name</th>
              <th data-field="destination">Destination</th>
              <th data-field="name">Traveling with: </th>
            </tr>
          </thead>
<!-- code to display all user -->
          {% for travel in travels %}
          <tr>
            <td> {{travel['trip_name']}} </td>
            <td> {{travel['destination']}} </td>
            <td> {{travel['name']}} </td>
          </tr>
        </tr>
        {% endfor %}
        </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
