{% extends "base.html" %}

{% block header %}
	{{ super() }}
	<form action="logout" id="logout">
		<span id="username">Logged in as {{ name }}</span>
	</form>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class= "section">
      <a href="{{ url_for('display_traveler') }}">Home</a>
    </div>

    <h2>Add Travel Plan</h2>
    <form action="" method="post" name="login">
      {{ form.hidden_tag() }}
      <div class="divider"></div>
      <div class="section">
        <!--add input fields-->
        <p>
          Trip Name:<br>
          {{form.trip_name(size=120)}}<br>
        </p>
        <p>
          Destination:<br>
          {{ form.destination(size=120) }}
        </p>
        <p>
          Traveling with: <br>
          {{ form.friend }}
        </p>
        <br><br>
      </div>
      <p><input type="submit" value="Create Travel"></p>
      <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA8gaRRFkifLsxdQ3oyFtkJKGD65nICM6I&q=South+Hall,Berkeley+CA" allowfullscreen>
</iframe>
    </form>
  </div>
</div>
{% endblock %}
